{% block form_row -%}
    {% apply spaceless %}
        <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
            <div class="{{ block('form_group_class') }}">
                {{ form_widget(form) }}
                {{ form_errors(form) }}
            </div>
        </div>
    {% endapply %}
{%- endblock form_row %}

{% block text_widget %}
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-terminal fa-inverse"></i></span>
            {{ block('form_widget_simple') }}
        </div>
    </div>
{% endblock %}
