{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'Two Factor Authentication' %}

{% block head_css %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {% embed '@Gui/Partials/widget.twig' %}

        {% block widget_content %}

            <div id="wrapper" class="">
                <div id="page-wrapper-plain">
                    {% include '@Messenger/Partials/flash-messages.twig' %}
                    {% include '@SecondFactorAuth/Registration/partials/form.twig' %}
                </div>
            </div>

        {% endblock %}

    {% endembed %}

{% endblock %}
