{% extends '@SecondFactorAuth/Layout/layout-plain.twig' %}

{% block head_css %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div id="wrapper">
        <div id="page-wrapper-plain" class="gray-bg wrapper wrapper-content second-factor-reg-plain">
            {% include '@Messenger/Partials/flash-messages.twig' %}
            {% include '@SecondFactorAuth/Registration/partials/form.twig' %}
        </div>
    </div>

{% endblock %}
